// @import './color.scss';
.d_btn{
  font-size: 28rpx;
}
.d_btn--gradient{
  background:linear-gradient(to right, #f87c73, #f44a3e);
  color: #fff;	
}
.d_btn--primary{
  background: #f44a3e;
  color: #fff;
}	
.d_btn--radius{
  border-radius: 50rpx;
}	
.rentalposition{
  font-size:36rpx;
  height:88rpx;
  width:600rpx ;
  color: white;
  border-radius: 50rpx;
  background: -webkit-gradient(linear, left top, left bottom, from(#f87c73), to(#f44a3e));	
}
