$main: #f44a3e;
$sup: #00b634;
$h1: #333333;
$h6: #666666;
$text: #666666;
$start: #f87c73;
$end: #f44a3e;
$border: #ccc;
$border2: #eff4f8;
$input: #f5f5f5;
$bg: #F6F8FB;
$gray: #bbb;
$gray-t: #999999;
$white-t: white;
$gray-a: #aaaaaa;
$gold-t: rgb(255,228,177);
$gold-word: rgb(198,158,104);