// 主色调
$main = #f44a3e

// 辅助色
$sup = #00b634

// 大标题
$h1 = #333333

// 小标题
$h6 = #666666

// 文字
$text = #666666

// 渐变开始
$start = #f87c73

// 渐变结束
$end = #f44a3e

// 边框
$border = #ccc
// 边框2
$border2 = #eff4f8
// input 背景
$input = #f5f5f5
// 灰色背景
$bg = #F6F8FB
// 灰色字体
$gray = #bbb
//灰色字体
$gray-t = #999999
//白色字体
$white-t = white
//灰色字体
$gray-a = #aaaaaa
//金色字体
$gold-t = rgb(255,228,177)
//金色
$gold-word = rgb(198,158,104)


