@import './font.styl';
@import './layout.styl';
@import './status.styl';
@import './btn.styl';
@import './input.styl';
@import './common.styl';

// stylus(str)
// .define('url', stylus.url({ paths: [__dirname + 'https://k8s.zhongbanglaixi.com/images/mobile/'] }))