.pr{
  position: relative;	
}
.pa{
  position: absolute;	
}
.fl{
  float: left;	
}
.fr{
  float: right;	
}
.pcy{
  position: absolute;
  top:50%;
  left: 0;
  transform: translate(-50%);	
}
.pf{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 999;	
}
.pfb{
  position: fixed;
  bottom: 0;	
}
.hf{
  width: 50%;
  float: left;	
}
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.fcx{
  display: flex;
  align-items: center;
  justify-content: center;	
}
.fcy{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;	
}
.fcyst{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;	
}
.fcyen{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.fty{
  transform: translateY(-20rpx);
}
.fstop{
  display: flex;
  justify-content: space-between;	
}
.fs{
  display: flex;
  justify-content: space-between;
  align-items: center;	
}
.fsa{
  display: flex;
  justify-content: space-around;
  align-items: center;	
}
.fbt{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;	
}
.fe{
  display: flex;
  justify-content: flex-end;
  align-items: center;	
}
.fst{
  display: flex;
  justify-content: flex-start;
  align-items: center;	
}
.fstst{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;	
}
.fi{
  display: flex;
  justify-content: initial;
  align-items: center;	
}
.fc{
  display: flex;
  justify-content: center;
  align-items: center;	
}
.tac{
  text-align: center;	
}
.vam{
  vertical-align: middle;	
}
.vt{
  vertical-align: top;	
}
.imgwh76{
  width: 76rpx;
  height: 110rpx;	
}
// margin
.auto{
  margin-left: auto;
  margin-right: auto;	
}
.wh76{
  width:76rpx;
  height: 76rpx;	
}
.mg10{
  margin: 10rpx;
}
.mg20{
  margin: 20rpx;	
}
.mg30{
  margin: 30rpx;	
}
.mg40{
  margin: 40rpx;	
}
.mgl10{
  margin-left: 10rpx;
}
.mgr6{
  margin-right: 6rpx;	
}
.mgr8{
  margin-right: 8rpx;	
}
.mgr10{
  margin-right: 10rpx;	
}
.mgr15{
  margin-right: 15rpx;	
}
.mgt82{
  margin-top: 82rpx;	
}
.mgt1{
  margin-top: 1rpx;	
}
.mgt8{
  margin-top: 8rpx;	
}
.mgt10{
  margin-top: 10rpx;	
}
.mgt12{
  margin-top: 12rpx;	
}
.mgt15{
  margin-top: 15rpx;	
}
.mgt16{
  margin-top: 16rpx;	
}
.mgt20{
  margin-top: 20rpx;	
}
.mgt28{
  margin-top: 28rpx;	
}
.mgt30{
  margin-top: 30rpx;	
}
.mgt33{
  margin-top: 33rpx;	
}
.mgt35{
  margin-top: 35rpx;	
}
.mgt40{
  margin-top: 40rpx;	
}
.mgt48{
  margin-top: 48rpx;
}
.mgt55{
  margin-top: 55rpx;
}
.mgt50{
  margin-top: 50rpx;	
}
.mgt60{
  margin-top: 60rpx;	
}
.mgt70{
  margin-top: 70rpx;
}
.mgt80{
  margin-top: 80rpx;	
}
.mgt90{
  margin-top: 90rpx;	
}
.mgt100{
  margin-top: 100rpx;
}
.mgt110{
  margin-top: 110rpx;	
}
.mgt120{
  margin-top: 120rpx;	
}
.mgt130{
  margin-top: 130rpx;
}
.mgt140{
  margin-top: 140rpx;	
}
.mgt150{
  margin-top: 150rpx;	
}
.mgt200{
  margin-top: 200rpx;	
}
.mgt300{
  margin-top: 300rpx;	
}
.mgt310{
  margin-top: 310rpx;	
}
.mgr20{
  margin-right: 20rpx;
}
.mgb10{
  margin-bottom: 10rpx;
}
.mgb12{
  margin-bottom: 12rpx;
}
.mgb15{
  margin-bottom: 15rpx;
}
.mgb16{
  margin-bottom: 16rpx;	
}
.mgb20{
  margin-bottom: 20rpx;	
}
.mgb22{
  margin-bottom: 22rpx;	
}
.mgb24{
  margin-bottom: 24rpx;	
}
.mgb30{
  margin-bottom: 30rpx;
}
.mgb33{
  margin-bottom: 33rpx;	
}
.mgb35{
  margin-bottom: 35rpx;	
}
.mgb40{
  margin-bottom: 40rpx;	
}
.mgb50{
  margin-bottom: 50rpx;	
}
.mgb60{
  margin-bottom: 60rpx;	
}
.mgb70{
  margin-bottom: 70rpx;	
}
.mgb80{
  margin-bottom: 80rpx;	
}
.mgb100{
  margin-bottom: 100rpx;	
}
.mgb160{
  margin-bottom: 160rpx;	
}
.mgb190{
  margin-bottom: 190rpx;	
}
.mgb250{
  margin-bottom: 250rpx;	
}
.mgl10{
  margin-left: 10rpx;	
}
.mgl15{
  margin-left: 15rpx;	
}
.mgl20{
  margin-left: 20rpx;	
}
.mgl25{
  margin-left: 25rpx;	
}
.mgl30{
  margin-left: 30rpx;	
}
.mgl34{
  margin-left: 34rpx;	
}
.mgl40{
  margin-left: 40rpx;	
}
.mgl50{
  margin-left: 50rpx;	
}
.mgl60{
  margin-left: 60rpx;	
}
.mgl68{
  margin-left: 68rpx;	
}
.mgl80{
  margin-left: 80rpx;	
}
.mgl100{
  margin-left: 100rpx;	
}
.mgl120{
  margin-left: 120rpx;
}
.mgl150{
  margin-left: 150rpx;	
}
.mgr30{
  margin-right: 30rpx;	
}
.mgr40{
  margin-right: 40rpx;	
}
.mgr60{
  margin-right: 60rpx;	
}
.mgr70{
  margin-right:: 70rpx;	
}
.mgr80{
  margin-right: 80rpx;	
}
.mgr50{
  margin-right: 50rpx;	
}
.mg10-x{
  margin-right: 10rpx;
  margin-left: 10rpx;	
}
.mg10-y{
  margin-top: 10rpx;
  margin-bottom: 10rpx;	
}
.mg20-x{
  margin-right: 20rpx;
  margin-left: 20rpx;	
}
.mg40-x{
  margin-right: 40rpx;
  margin-left: 40rpx;	
}
.mg20-y{
  margin-top: 20rpx;
  margin-bottom: 20rpx;	
}
.mg30-x{
  margin-right: 30rpx;
  margin-left: 30rpx;	
}
.mg50-x{
  margin-right: 50rpx;
  margin-left: 50rpx;	
}
.mg30-y{
  margin-top: 30rpx;
  margin-bottom: 30rpx;	
}
.mg40-x{
  margin-right: 40rpx;
  margin-left: 40rpx;	
}
.mg40-y{
  margin-top: 40rpx;
  margin-bottom: 40rpx;	
}
.mg50-y{
  margin-top: 50rpx;
  margin-bottom: 50rpx;	
}
.mg60-y{
  margin-top: 60rpx;
  margin-bottom: 60rpx;	
}

// padding
.pd10{
  padding: 10rpx;	
}
.pd20{
  padding: 20rpx;	
}
.pd30{
  padding: 30rpx;	
}
.pd40{
  padding: 40rpx;	
}
.pd50{
  padding: 50rpx;	
}
.pd60{
  padding: 60rpx;	
}
.pdt10{
  padding-top: 10rpx;	
}
.pdt12{
  padding-top: 13rpx;	
}
.pdt15{
  padding-top: 15rpx;	
}
.pdt20{
  padding-top: 20rpx;	
}
.pdt33{
  padding-top: 33rpx;	
}
.pdt40{
  padding-top: 40rpx;	
}
.pdt44{
  padding-top: 44rpx;	
}
.pdt50{
  padding-top: 50rpx;	
}
.pdt52{
  padding-top: 52rpx;	
}
.pdt60{
  padding-top: 60rpx;
}
.pdt70{
  padding-top: 70rpx;	
}
.pdt80{
  padding-top: 80rpx;	
}
.pdt100{
  padding-top: 100rpx;	
}
.pdt140{
  padding-top: 140rpx;	
}
.pdt310{
  padding-top: 310rpx;	
}
.pdl10{
  padding-left: 10rpx;	
}
.pdl14{
  padding-left: 14rpx;	
}
.pdl50{
  padding-left: 50rpx;	
}
.pdl55{
  padding-left: 55rpx;
}
.pdl75{
  padding-left: 75rpx;	
}
.pdl90{
  padding-left: 90rpx;	
}
.pdl120{
  padding-left: 120rpx;	
}
.pdr5{
  padding-right: 5rpx;	
}
.pdr10{
  padding-right: 10rpx;	
}
.pdr12{
  padding-right: 12rpx;	
}
.pdb10{
  padding-bottom: 10rpx;	
}
.pdl20{
  padding-left: 20rpx;	
}
.pdr20{
  padding-right: 20rpx;	
}
.pdb20{
  padding-bottom: 20rpx;	
}
.pdb14{
  padding-bottom: 14rpx;	
}
.pdb16{
  padding-bottom: 16rpx;	
}
.pdt30{
  padding-top: 30rpx;	
}
.pdt300{
  padding-top: 300rpx;	
}
.pdl30{
  padding-left: 30rpx;	
}
.pdr30{
  padding-right: 30rpx;	
}
.pdb30{
  padding-bottom: 30rpx;	
}
.pdb50{
  padding-bottom: 50rpx;
}
.pdb52{
  padding-bottom: 52rpx;
}
.pdb60{
  padding-bottom: 60rpx;
}
.pdb80{
  padding-bottom: 80rpx;	
}
.pdb100{
  padding-bottom: 100rpx;	
}
.pdb140{
  padding-bottom: 140rpx;	
}
.pdb150{
  padding-bottom: 150rpx;	
}
.pdb160{
  padding-bottom: 160rpx;	
}
.pdb190{
  padding-bottom: 190rpx;	
}
.pdb250{
  padding-bottom: 250rpx;	
}
.pdl40{
  padding-left: 40rpx;	
}
.pdr40{
  padding-right: 40rpx;	
}
.pdr50{
  padding-right: 50rpx;	
}
.pdr80{
  padding-right: 80rpx;	
}
.pdb40{
  padding-bottom: 40rpx;	
}
.pd10-x{
  padding-right: 10rpx;
  padding-left: 10rpx;	
}
.pd15-x{
  padding-right: 15rpx;
  padding-left: 15rpx;	
}
.pd10-y{
  padding-top: 10rpx;
  padding-bottom: 10rpx;	
}
.pd20-x{
  padding-right: 20rpx;
  padding-left: 20rpx;	
}
.pd20-y{
  padding-top: 20rpx;
  padding-bottom: 20rpx;	
}
.pd60-y{
  padding-top: 60rpx;
  padding-bottom: 60rpx;	
}
.pd30-x{
  padding-right: 30rpx;
  padding-left: 30rpx;	
}
.pd55-x{
  padding-right: 55rpx;
  padding-left: 55rpx;	
}
.pd50-x{
  padding-right: 50rpx;
  padding-left: 50rpx;	
}
.pd30-y{
  padding-top: 30rpx;
  padding-bottom: 30rpx;	
}
.pd33-y{
  padding-top: 33rpx;
  padding-bottom: 33rpx;	
}
.pd40-x{
  padding-right: 40rpx;
  padding-left: 40rpx;	
}
.pd42-x{
  padding-right: 42rpx;
  padding-left: 42rpx;	
}
.pd44-x{
  padding-right: 44rpx;
  padding-left: 44rpx;	
}
.pd60-x{
  padding-right: 60rpx;
  padding-left: 60rpx;	
}
.pd100-x{
  padding-right: 100rpx;
  padding-left: 100rpx;	
}
.pd120-x{
  padding-right: 120rpx;
  padding-left: 120rpx;	
}
.pd40-y{
  padding-top: 40rpx;
  padding-bottom: 40rpx;	
}
.pd26-y{
  padding-top: 26rpx;
  padding-bottom: 26rpx;	
}
.pd50-y{
  padding-top: 50rpx;
  padding-bottom: 50rpx;	
}

.pdf20{
  padding-left: 20rpx;
}