// @import './color.scss';
.main-t{
  color: #f44a3e;
}
.main-s{
  color: #f87c73;	
}
.main-bg{
  background-color: #f44a3e;
  color: #fff;	
}
.bgw{
  background-color: #fff;
}
.bg0{
  background-color:#000 !important;
}
.bg239{
  background: rgb(239,244,248);
}
.bgblue{
  background-color: blue;	
}
.ftw{
  color: #fff;	
}
.bt{
  border-bottom: 1rpx solid #e5e5e5;
}
.bte6{
  border-bottom: 1rpx solid #e6e6e6;	
}
.btb{
  border-bottom: 1rpx solid #eff4f8;	
}
.btt{
  border-top: 1rpx solid #e5e5e5;	
}
.br{
  border-right: 1rpx solid #e5e5e5;	
}
.bre{
  border-right: 2rpx solid #eff4f8;	
}
.bte{
  border-bottom: 2rpx solid #eff4f8;	
}
.bte4{
  border-bottom: 4rpx solid rgb(198,158,104);
}
.btef{
  border-bottom: 1rpx solid #eff4f8;
}
.left50{
  width: 49%;
}
.fleft{
  float: left;	
}
.fright{
  float: right;	
}
.btop{
  border-top: 1rpx solid #e5e5e5;
}
.bp{
  border-top: 1rpx solid #ccc;
}
.gray{
  color: #bbb;
}
.gray-t{
  color: #999999;	
}
.white-t{
  color: white;
}
.gray-a{
  color: #aaaaaa;
}
.gold-t{
  color: rgb(255,228,177);	
}
.gold-word{
  color: rgb(198,158,104);
}

  